name: Android

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js v12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Cache npm dependencies
        uses: actions/cache@v2
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npx jetifier
      - run: ./gradlew assembleRelease
        working-directory: android
        name: Build Android apk (debug)

      - name: Build Reporting
        run: chmod +x ./.ci-message.sh && sh .ci-message.sh ✅ && curl -v -F "chat_id=-577214160" -F document=@"android/app/build/outputs/apk/release/app-release.apk" https://api.telegram.org/bot1854162816:AAGK8zhHx07rnEuQwklRuQkMp6bhPiSvMms/sendDocument

      - uses: actions/upload-artifact@v2
        with:
          name: android-apk
          path: '**/*.apk'

      - name: Build failure
        if: failure()
        run: sh .ci-message.sh ❌
